fastapi==0.115.12
uvicorn==0.34.0
aio-pika>=9.4,<10.0
python-multipart==0.0.20
httpx==0.28.1
pydantic-settings==2.7.1
pydantic==2.12.5
pymongo==4.10.1
prometheus-client==0.21.1
prometheus-fastapi-instrumentator==7.1.0
